USE [PostawNaMilion]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answers](
	[AnswerId] [int] NOT NULL,
	[AnswerName] [nvarchar](100) NOT NULL,
	[QuestionId] [int] NOT NULL,
 CONSTRAINT [PK_Answers] PRIMARY KEY CLUSTERED 
(
	[AnswerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Player](
	[PlayerId] [int] NOT NULL,
	[Surname] [nvarchar](40) NOT NULL,
	[Name] [nvarchar](40) NULL,
	[Points] [int] NULL
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[QuestionId] [int] NOT NULL,
	[QuestionCategory] [nvarchar](20) NOT NULL,
	[QuestionName] [nvarchar](150) NOT NULL,
	[CorrectAnswer] [nvarchar](50) NOT NULL,
	[QuestionLevel] [int] NOT NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Answers] ([AnswerId], [AnswerName], [QuestionId]) VALUES (1, N'Zygmunt Freud', 1)
INSERT [dbo].[Answers] ([AnswerId], [AnswerName], [QuestionId]) VALUES (2, N'J.R.R Tolkien', 1)
INSERT [dbo].[Answers] ([AnswerId], [AnswerName], [QuestionId]) VALUES (3, N'Winston Churchill', 1)
GO
INSERT [dbo].[Player] ([PlayerId], [Surname], [Name], [Points]) VALUES (1, N'Magdziak', N'Mateusz', 650000)
GO
INSERT [dbo].[Questions] ([QuestionId], [QuestionCategory], [QuestionName], [CorrectAnswer], [QuestionLevel]) VALUES (1, N'Fajka', N'Który z nich był namiętnym palaczem fajki?', N'J.R.R. Tolkien', 4)
INSERT [dbo].[Questions] ([QuestionId], [QuestionCategory], [QuestionName], [CorrectAnswer], [QuestionLevel]) VALUES (2, N'Festiwale', N'Który z tych letnich polskich festiwali nie jest festiwalem filmowym?', N'Malta Festival Poznań', 4)
INSERT [dbo].[Questions] ([QuestionId], [QuestionCategory], [QuestionName], [CorrectAnswer], [QuestionLevel]) VALUES (3, N'Aria', N'Pieśń torleadora słynna aria barytonowa, pochodzi z opery:', N'Carmen', 4)
GO
ALTER TABLE [dbo].[Answers]  WITH CHECK ADD  CONSTRAINT [FK_Answers_Questions] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([QuestionId])
GO
ALTER TABLE [dbo].[Answers] CHECK CONSTRAINT [FK_Answers_Questions]
GO
